<h1>関連商品追加</h1>

<div class="inputForm">
<%= form_for(@related) do |f| %>

<table>

<tr>
<td>商品番号（親）</td>
<td><%= f.text_field :parentItemNumber %></td>
</tr>

<tr>
<td>関連商品名</td>
<td><%= f.text_field :itemName %></td>
</tr>

<tr>
<td>関連商品番号</td>
<td><%= f.text_field :itemNumber %></td>
</tr>

<tr>
<td>関連商品画像URL共通部分</td>
<td><%= f.text_field :imageURLCommonPart %></td>
</tr>



</table>

<%= f.submit id:"submitButton" %>
<% end %>
</div>
