<h1>関連商品一覧</h1>

<center>
<%= link_to "関連商品の追加", new_related_path %><br><br><br>
</center>

<table class="imageListTable">
<tr>
    <td>操作</td>
    <td>商品番号（親）</td>
    <td>商品番号</td>
    <td>商品名</td>
    <td>画像共通部分</td>
</tr>
 <% @related.each do |related| %>
<tr>
    <td>
        <%= link_to "コピー" , copy_related_path(related) %><br><br>
        <%= link_to "編集" , edit_related_path(related) %><br><br>
    　　<%= link_to "削除" , related , method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
    </td>
    <td><%= related.parentItemNumber %></td>
    <td><%= related.itemNumber %></td>
    <td><%= related.itemName %></td>
    <td><%= related.imageURLCommonPart %></td>
</tr>
<% end %>
</table>
