<h1>モデルサイズを追加</h1>

<div class="inputForm">
<%= form_for(@person) do |f| %>

<table>
<tr>
<td>モデル名</td>
<td><%= f.text_field :name, placeholder: "例 Hide" %></td>
</tr>

<tr>
<td>身長</td>
<td><%= f.text_field :height, placeholder: "例 170" %></td>
</tr>

<tr>
<td>体重</td>
<td><%= f.text_field :weight, placeholder: "例 62" %></td>
</tr>

<tr>
<td>サイズ</td>
<td><%= f.text_field :size, placeholder: "例 M" %></td>
</tr>

</table>

<%= f.submit id:"submitButton" %>
<% end %>
</div>
