<h1>Items#index</h1>
<p>Find me in app/views/items/index.html.erb</p>
<%= link_to "商品情報の登録", new_item_path %><br><br>
<%= link_to "商品情報の修正", edit_item_path %><br><br>
<%= link_to "商品情報の削除", delete_item_path %><br><br>
<%= link_to "ブランドの追加", new_brand_path %><br><br>
<%= link_to "ブランドの修正", edit_brand_path %><br><br>
<%= link_to "ブランドの削除", delete_brand_path %><br><br>
