<h1>RODEO BROS</h1>

<table border class="index">
    
<tr>
<td><%= link_to "サイズの参照", show_size_path %></td>
</tr>

<tr>
<td><%= link_to "サイズの追加", new_size_path %></td>
</tr>

<tr>
<td><%= link_to "モデルサイズの参照", show_person_path %></td>
</tr>

<tr>
<td><%= link_to "モデルサイズの追加", new_person_path %></td>
</tr>

<tr>
<td><%= link_to "関連商品の参照", show_related_path %></td>
</tr>

<tr>
<td><%= link_to "関連商品の追加", new_related_path %></td>
</tr>

<tr>
<td><%= link_to "画像の参照", show_image_path %></td>
</tr>

<tr>
<td><%= link_to "画像の追加", new_image_path %></td>
</tr>

<tr>
<td><%= link_to "ブランドの参照", show_brand_path %></td>
</tr>

<tr>
<td><%= link_to "ブランドの追加", new_brand_path %></td>
</tr>

<tr>
<td><%= link_to "商品の参照", show_item_path %></td>
</tr>

<tr>
<td><%= link_to "商品の追加", new_item_path %></td>
</tr>

</table>








