<h1>RODEO BROS</h1>

<table border class="index">
<tr>
<td><%= link_to "商品情報の登録", new_item_path %></td>
</tr>
<tr>
<td><%= link_to "商品情報の修正", edit_item_path %></td>
</tr>

<tr>
<td><%= link_to "商品情報の削除", delete_item_path %></td>
</tr>

<tr>
<td><%= link_to "ブランドの参照", show_brand_path %></td>
</tr>

<tr>
<td><%= link_to "ブランドの追加", new_brand_path %></td>
</tr>


</table>








