<h1>商品追加</h1>

<div class="inputForm">
<%= form_for(@item) do |f| %>

<table>
<tr>
<td>商品名</td>
<td><%= f.text_field :name, placeholder: "スカル ワンポイント 刺繍 ポロシャツ" %></td>
</tr>
<tr>
<td>品番</td>
<td><%= f.text_field :number, placeholder: "kav-201" %></td>
</tr>
<tr>
<td>画像</td>
<td><%= f.text_field :imgURLcommonPart , placeholder: "vanson/kav-201" %></td>
</tr>
<tr>
<td>ブランド</td>
<td><%= f.collection_select :brand_id, Brand.all, :id, :nameJP %>
<span class="selectArrow">▼</span></td>
</tr>
<tr>
<td>種類</td>
<td>
<%= f.select :category, options_for_select([ "top", "bottom", "outer", "ragran", "shoes", "accessory"]) %>
<span class="selectArrow">▼</span>
</td>
</tr>

<tr>
<td>モデル</td>
<td><%= f.collection_select :model_id, Person.all, :id, :size %><span class="selectArrow">▼</span>
</td>
</tr>


<tr>
<td>商品説明文</td>
<td><%= f.text_area :description, placeholder: "HTMLを入力。改行は<br>" %><br></td>
</tr>

<tr>
<td>商品詳細</td>
<td><%= f.text_area :detail, placeholder: "改行は<br>" %><br></td>
</tr>


<tr>
<td>素材</td>
<td><%= f.text_field :material, placeholder: "未入力の場合は出力されません。" %><br></td>
</tr>

<tr>
<td>生産国</td>
<td><%= f.text_field :madein, placeholder: "未入力の場合は出力されません。" %><br></td>
</tr>

<tr>
<td>加工</td>
<td><%= f.text_field :process, placeholder: "未入力の場合は出力されません。" %><br></td>
</tr>


</table>

<%= f.submit id:"submitButton" %>
<% end %>
</div>




