<% number = @item.number %>
<% @image = Image.where(item_number: number)%>
<% @brand =  Brand.find(@item.brand_id) %>
<% model_id = @item.model_id %>
<% @person =  Person.find(model_id) %>
<% @related = Related.where(parentItemNumber: number)%>
<% @size = Size.where(item_number: number) %>
    <% @size.each do |size| %>
        <% array = size.measurement.split(",") %>
        <% chart = Array.new %>
        <% row = Array.new %>
        <% (0..array.length).each do |i| %>
            <% if i%10 == 0 %>
                <% row = Array.new %>
            <% end %>
            <% if array[i] != "" %>
                <% row.push(array[i]) %>
            <% end %>
            <% if i%10 == 9 %>
                <% if row.length > 0 %>
                <% chart.push(row) %>
                <%#NEED_TO_BE_FIXED#%>
            <% end %>
        <% end %>
    <% end %> 
<!------------------------------------------------------------------------------>
<h1>楽天2nd画面</h1>
<!------------------------------------------------------------------------------>
<h3>楽天商品名(2nd)</h3>
<textarea rows="3" cols="160" id="rakutenItemNameTextArea">
<%= @item.number %> <%= @brand.nameJP %> <%= @item.name %> <%= @brand.nameEng %>
</textarea><br>

<!------------------------------------------------------------------------------>
<h3>PC用商品説明文(2nd)</h3>
<textarea rows="25" cols="160" id="rakutePCItemExplanationTextArea">

<div id="shouhin">
<h1><%= @item.name %></h1>
<p><%= @item.description %></p>
</div>
<div id="shouhin_main">
	<div id="shouhin_main_left">
		<!--//ブランド //-->
		<p id="m-brand">BRAND</p>
		<p>
			<a href="<%= @brand.rakutenURL %>" target="_top"><%= @brand.nameEng %> (<%= @brand.nameJP %>)</a>
		</p>
		<!--//詳細 //-->
		<p id="m-detail">DETAIL</p>
		<p><%= @item.detail %></p>
		<!--//モデル//-->
		<% unless @person.size =="" %>
		<p id="m-model">MODEL</p>
		<div class="size_person">
			<img src="http://www.rakuten.ne.jp/gold/auc-rodeo/staff_img/staff02.png">
			  モデル: <%= @person.name %>
			<br>身長: <%= @person.height %>cm
			<br>体重: <%= @person.weight %>kg
			<br>サイズ: <%= @person.size %>
		</div>
		<!--//関連 //-->
		<div id="clear">
			<p id="m-total">TOTAL</p>モデル着用商品<br>
			<% @related.each do |related| %>
                ・<a href="http://item.rakuten.co.jp/rodeo-2nd/<%= related.itemNumber %>/"><%= related.itemName %></a><br>
            <% end %>
		</div>
		<% end %>
	</div>
	<!--//商品説明「右」ここから //-->
	<div id="shouhin_main_right">
		<!--//サイズ表//-->
		<p id="m-size">SIZE</p>
        <% colIndex = 0 %><% rowIndex = 0 %><table border="0" width="435" cellspacing="1" cellpadding="5" bgcolor="C0C0C0" style="border-collapse: separate;"><% chart.each do |row| %><% if rowIndex == 0 %><tr bgcolor="EEEEEE"align="center"><% else %><tr align="center" bgcolor="ffffff"><% end %><% row.each do |col| %><% if colIndex == 0 %><td bgcolor="EEEEEE" width="1%"><% else %><td width="1%"><% end %><%= col %></td><% colIndex += 1  %><% end %></tr><% rowIndex += 1  %><% colIndex = 0  %><% end %></table>
		<p>サイズは若干前後します。
			<a href="http://www.rakuten.ne.jp/gold/auc-rodeo/size-chart-all.html" target="_blank">サイズの測り方</a>
		</p>
		<!--//素材生産加工など//-->
		<p id="m-mate">MATERIAL</p>
		<table border="0" width="435" cellspacing="1" cellpadding="5" bgcolor="C0C0C0" style="height: 60px; border-collapse: separate;">
				<% unless @item.material =="" %><tr bgcolor="ffffff">
					<td align="center" bgcolor="EEEEEE" width="20%">素材</td>
					<td><%= @item.material %></td>
				</tr><% end %>
				<% unless @item.madein =="" %><tr bgcolor="ffffff">
					<td align="center" bgcolor="EEEEEE" width="20%">生産</td>
					<td><%= @item.madein %></td>
				</tr><% end %>
				<% unless @item.process =="" %><tr bgcolor="ffffff">
					<td align="center" bgcolor="EEEEEE" width="20%">加工</td>
					<td><%= @item.process %></td>
				</tr><% end %>
		</table>
	</div>
	
	<div id="shouhin_main_bottom">
		<div id="more">
			<a href="<%= @brand.rakutenURL %>" target="_top">
				<div><%= @brand.nameEng %> (<%= @brand.nameJP %>) 商品一覧へ </div>
			</a>
		</div>
	</div>
	<center>
		
<% numberOfImage = 0 %>
<% @image.each do |image| %>
    <% if numberOfImage < 10 %>
    <img src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/<%= image.imageURLCommonPart %>?_ex=700x700"><br><p class="imageText"><%= image.description %></p><br><br><br>
    <% end %>
    <% numberOfImage += 1 %>
<% end %>
</center>

	    <%= @brand.categoryRakutenHTML %>
		<br>
		<br>

</div>
</textarea>
<!------------------------------------------------------------------------------>
<h3>モバイル用商品説明文</h3>
<textarea rows="25" cols="160" id="rakuteMobileExplanationTextArea">
送料無料 ＋ 土日祝日も営業<br><br>
15:00 までのご注文は 即日発送<br><br>
<%= @item.name %><br><br>
■ブランド：<%= @brand.nameEng %>(<%= @brand.nameJP %>)<br><br>
■DETAIL<br>
<% unless @item.material =="" %>■素材：<%= @item.material %><br><% end %>
<% unless @item.process =="" %>■加工：<%= @item.process %><br><% end %>
<% unless @item.madein =="" %>■生産：<%= @item.madein %><br><% end %>
<% unless @person.size =="" %>■モデル<br>
<%= @person.name %>/<%= @person.height %>cm/<%= @person.weight %>kg サイズ: <%= @person.size %><br><br><% end %>
■サイズ<br>
<% colIndex = 0 %><% rowIndex = 0 %><% chart.each do |x| %><% x.each do |y| %><% if rowIndex == 0 %><% end %><% if rowIndex == 1 %>:<% end %><% if rowIndex > 1 %>/<% end %><%= y %><% rowIndex += 1  %><% end %><br><% colIndex += 1  %><% rowIndex = 0  %><% end %><br>
サイズは若干前後します。
</textarea><br>
<!------------------------------------------------------------------------------>
<h3>スマートフォン用商品説明文</h3>
<textarea rows="25" cols="160" id="rakuteSPExplanationTextArea">
<center>
送料無料 ＋ 土日祝日も営業<br><br>
15:00 までのご注文は 即日発送<br><br>
<table width="320">
<% numberOfImage = 0 %>
<% @image.each do |image| %>
    <% if numberOfImage < 10 %>
    <tr><td><img src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/<%= image.imageURLCommonPart %>?_ex=320x320"><br><%= image.description %><br><br><br></td></tr>
    <% end %>
    <% numberOfImage += 1 %>
<% end %>
</table>
<!--画像ここまで-->
</center>
<hr><br><br>
<%######################%>
<table>
	<tr><td><b><%= @item.name %></b></td></tr>
	<tr><td><%= @item.description %><br></td></tr>
	<%######################%>
	<tr><td bgcolor="#000000"><font color="#FFFFFF">■BRAND</font></td></tr>
	<tr><td><a href="<%= @brand.rakutenURL %>"><%= @brand.nameEng %>(<%= @brand.nameJP %>)</a></td></tr>
	<%######################%>
	<tr><td bgcolor="#000000"><font color="#FFFFFF">■DETAIL</font></td></tr>
	<tr><td><%= @item.detail %></td></tr>
	<%######################%>
	<% unless @person.size =="" %>
	<tr><td bgcolor="#000000"><font color="#FFFFFF">■MODEL</font></td></tr>
	<tr><td><%= @person.name %>/<%= @person.height %>cm/<%= @person.weight %>kg サイズ: <%= @person.size %></td></tr>
	<% end %>
	<%######################%>
	<tr><td bgcolor="#000000"><font color="#FFFFFF">■TOTAL</font></td></tr>
	<tr><td>モデル着用商品<br><br></td></tr>	
	<tr><td>
		<% @related.each do |related| %>
    	・<a href="http://item.rakuten.co.jp/rodeo-2nd/<%= related.itemNumber %>/"><%= related.itemName %></a><br><br>
		<% end %>
	</td></tr>
	<%######################%>
	<tr><td bgcolor="#000000"><font color="#FFFFFF">■MATERIAL</font></td></tr>
	<tr><td>
		<table border="0" width="100%" cellspacing="1" cellpadding="5" bgcolor="C0C0C0">
		<% unless @item.material =="" %><tr bgcolor="ffffff"><td align="center" bgcolor="EEEEEE" width="20%">素材</td>
		<td><%= @item.material %></td></tr><% end %>
		<% unless @item.madein =="" %><tr bgcolor="ffffff"><td align="center" bgcolor="EEEEEE" width="20%">生産</td>
		<td><%= @item.madein %></td></tr><% end %>
		<% unless @item.process =="" %><tr bgcolor="ffffff"><td align="center" bgcolor="EEEEEE" width="20%">加工</td>
		<td><%= @item.process %></td></tr><% end %>
		</table>
	</td></tr>
	<%######################%>
	<tr><td bgcolor="#000000"><font color="#FFFFFF">■SIZE</font></td></tr>
	<tr><td>
		<% colIndex = 0 %><% rowIndex = 0 %><table border="0" width="100%" cellspacing="1" cellpadding="5" bgcolor="C0C0C0"><% chart.each do |row| %><% if rowIndex == 0 %><tr bgcolor="EEEEEE"align="center"><% else %><tr align="center" bgcolor="ffffff"><% end %><% row.each do |col| %><% if colIndex == 0 %><td bgcolor="EEEEEE" width="1%"><% else %><td width="1%"><% end %><%= col %></td><% colIndex += 1  %><% end %></tr><% rowIndex += 1  %><% colIndex = 0  %><% end %></table> <% end %>
		<br>サイズは若干前後します。<a href="http://www.rakuten.ne.jp/gold/auc-rodeo/size-chart-all.html" target="_blank">サイズの測り方</a> 
	</td></tr>
</table>
</textarea><br>




<script>
	
	let max_rakutenItemNameTextArea_length = 127;
	let max_rakutenPCItemExplanationTextArea_length = 5120;
	let max_rakutenPCSellExplanationTextArea_length = 5120;
	let max_rakutenSPExplanationTextArea_length = 5120;
	let max_rakutenMobileExplanationTextArea_length = 512;
	
  	let rakutenItemNameTextArea_Length = $("#rakutenItemNameTextArea").length;
  	let rakutePCSellExplanationTextArea_Lenght = $("rakutePCSellExplanationTextArea").length;
  	let rakutePCItemExplanationTextArea_Lenght = $("rakutePCItemExplanationTextArea").length;
  	let rakuteSPExplanationTextArea_Lenght = $("rakuteSPExplanationTextArea").length;
  	let rakuteMobileExplanationTextArea_Lenght = $("rakuteMobileExplanationTextArea").length;
  	
  	if(rakutenItemNameTextArea_Length > max_rakutenItemNameTextArea_length) {
  		$("#rakutenItemNameTextArea").css("border", "2px solid red");
  	}
  	
  	if(max_rakutenPCItemExplanationTextArea_length > rakutePCSellExplanationTextArea_Lenght) {
  		$("#rakutePCSellExplanationTextArea").css("border", "2px solid red");
  	}
  	
  	if(max_rakutenPCSellExplanationTextArea_length > rakutePCItemExplanationTextArea_Lenght) {
  		$("rakutePCItemExplanationTextArea").css("border", "2px solid red");
  	}
  	
  	if(max_rakutenSPExplanationTextArea_length > rakuteSPExplanationTextArea_Lenght) {
  		$("rakuteSPExplanationTextArea").css("border", "2px solid red");
  	}
  	
  	if(max_rakutenMobileExplanationTextArea_length > rakuteMobileExplanationTextArea_Lenght) {
  		$("rakuteMobileExplanationTextArea").css("border", "2px solid red");
  	}
  	
	
</script>


