<h1>登録商品一覧</h1>

<center>
<%= link_to "商品の追加", new_item_path %><br><br><br>
</center>

<table class="brandListTable">
<tr>
<td>商品名</td>
<td>品番</td>
<td>画像共通部分</td>
<td>画像</td>
<td>商品説明文</td>
<td>商品詳細</td>
<td>ブランド</td>
<td>カテゴリー</td>
<td>モデルサイズ</td>
<td>関連商品</td>
<td>サイズ表</td>
<td>素材</td>
<td>生産</td>
<td>加工</td>
<td>edit</td>
<td>delete</td>
</tr>
  <% @item.each do |item| %>
<tr>
<td>
  <%= item.name %><br><br>
  <%= link_to "楽天" , rakuten_item_path(item) %><br>
  <%= link_to "ヤフー" , yahoo_item_path(item) %><br>
  <%= link_to "公式" , official_item_path(item) %><br>
</td>
<td><%= item.number %></td>
<td><%= item.imgURLcommonPart %></td>
<td>
  <% @image = Image.where(item_number: item.number)%><!--画像インスタンス-->
  <% if @image.length > 0 %>画像<span class="red"><%=@image.length %>枚</span>登録済み
  <% else %><span class="red">未登録</span>
  <% end %>
</td>
<td><%= item.description %></td>
<td><%= item.detail %></td>
<td>
    <% @brand =  Brand.find(item.brand_id) %>
    <%= @brand.nameJP %>
</td>
<td><%= item.category %></td>
<td>
    <% @person =  Person.find_by_id(item.model_id) %>
    <% if @person != nil %><%= @person.size %><% end %>
</td>

<td>
    <% @related = Related.where(parentItemNumber: item.number)%><!--画像インスタンス-->
    <% @related.each do |related| %>
      <a href="http://item.rakuten.co.jp/auc-rodeo/<%= related.itemNumber %>/">
      <%= related.itemName %></a><br>
    <% end %>
</td>
<td>
  <% @size = Size.where(item_number: item.number)%>
  <% if @size.length > 0 %>登録済み
  <% else %><span class="red">未登録</span>
  <% end %>
</td>
<td><%= item.material %></td>
<td><%= item.madein %></td>
<td><%= item.process %></td>
<td><%= link_to "編集" , edit_item_path(item) %></td>
<td><%= link_to "削除" , item , method: :delete, data: { confirm: '削除してもよろしいですか？' } %></td>
</tr>
<% end %>
</table>
