<h1>ヤフーiframe画面</h1>

<% number = @item.number %>
<% @image = Image.where(item_number: number)%>
<% @brand =  Brand.find(@item.brand_id) %>

<textarea rows="50" cols="160">
<!--ここからだよーーーーー-->
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="ja">
    <meta name="keywords" content="<%= @item.name %>,<%= @brand.nameJP %>,<%= @brand.nameEng %>">
    <meta name="description" content="<%= @item.name %>。創業から40年の老舗セレクトショップ、ロデオブロス（RODEO BROS）">
    <title><%= @item.name %></title>
    <link rel="shortcut icon" href="http://www.rakuten.ne.jp/gold/auc-rodeo/images/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" type="text/css" href="http://www.rakuten.ne.jp/gold/auc-rodeo/items/css/style0530.css">
  </head>
  <body>
    <div class="wrapper">
      <table width="840" class="brandConcept"><tr>
        <td><a href="<%= @brand.yahooURL %>" target="_top"><img src="<%= @brand.imageURL %>" class="brandImage"></a></td>
        <td><%= @brand.description %></td>
    </tr></table>
     <div id="left" class="arrows"><img src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/assets_20151105/img/item_left.png"></div>
      <div class="itemImagesWrapper"><img id="mainImage" src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/<%= @item.imgURLcommonPart %>-1.jpg?_ex=700x700" class="itemImages"></div>
      <div id="right" class="arrows"><img src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/assets_20151105/img/item_right.png"></div>
      <div class="thumbnailsWrapper">
        <ul id="tnlist">
          <% @image.each do |image| %>
                <li><p class="textForImages text-center"><%= image.description %></p><img src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/<%= image.imageURLCommonPart %>?_ex=100x100" class="thumbImages"></li>
          <% end %>
        </ul>
      </div>
    </div>
  </body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
  <script src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/js/700x700.js"></script>
</html>
<!--ここまでだよーーーー-->
</textarea>

     







