<h1>画像一覧</h1>

<center>
<%= link_to "画像の追加", new_image_path %><br><br><br>
</center>

<table class="imageListTable">
<tr>
<td>商品番号</td>
<td>画像</td>
<td>説明文</td>
<td>edit</td>
<td>delete</td>
</tr>
 <% @image.each do |image| %>
<tr>
<td><%= image.item_number %></td>
<td><img src="http://image.rakuten.co.jp/auc-rodeo/cabinet/<%= image.imageURLCommonPart %>"></td>
<td><%= image.description %></td>
<td><%= link_to "編集" , edit_image_path(image) %></td>
<td><%= link_to "削除" , image , method: :delete, data: { confirm: '削除してもよろしいですか？' } %></td>
</tr>
<% end %>
</table>
