<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  
  <% if notice %>
      <div class="alert">
        <%= notice %>
      </div>
  <% end %>
  
  <%= yield %>
  
  <table id="backToHome">
    <tr><td><%= link_to "ホーム画面に戻る", root_path %></td></tr>
  </table>

</div>
</body>
</html>
